<section class="design">

  <form>
    <div>
     <label>Enter name:</label>
       <input type="text" name="name" placeholder="Enter a valid name">
  </div> 
   
  <div>
    <label>Enter Email:</label>
      <input type="text" name="email" placeholder="Enter a valid email">
 </div> 

 <div>
  <label>Enter Phone number:</label>
    <input type="text" name="number" placeholder="Enter a valid number">
</div> 
<div class="message">
  <label>Enter Message</label>
    <input type="text" name="name" placeholder="Type your feedback here">
</div> 


  




  </form>






</section>