<h1 class="heading">Reactive form</h1>

<section class="card">

  <form [formGroup]="exform">
    

    <div class="form-group">
<!-- Name -->
     <label class="col-form-label">Enter name:</label>

     <br>
       <input type="text" formControlName="name" class="form-control" placeholder="Enter name:">
       
       <small *ngIf="name.invalid && name.touched" class="text-danger">Enter a valid name</small>
  </div> 
   <br>
   <!-- Email -->
  <div class="form-group">
    <label class="col-form-label">Enter Email:</label>
    <br>
      <input type="text" formControlName="email" class="form-control">
      <small *ngIf="exform.get('email').invalid && exform.get('email').touched" class="text-danger">Enter a valid E-mail </small>
 </div> 
 <br>
<!-- Phone number -->
 <div class="form-group">
  <label class="col-form-label">Enter Phone number:</label>
  <br>
    <input type="text" formControlName="number" class="form-control">
    <small *ngIf="exform.get('number').invalid && exform.get('number').touched" class="text-danger">Must enter numbers(Minimum 10 numbers)</small>
    
</div> 
<br>
  <!-- Feedback -->
<div class="form-group">
  <label class="col-form-label">Enter Message</label>
  <br>
  <textarea formControlName="message" class="form-control" placeholder="Type your feedbacks" class="message"></textarea>
  <br>
    <small *ngIf="exform.get('message').invalid && exform.get('message').touched" class="text-danger">Must enter your feedbacks(Min 10 characters)</small>



</div>
<br>

<button (click)="submit()" [disabled]="exform.invalid" class="but btn btn-primary">Submit</button>


  </form>






</section>